/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-inline {
    list-style: none;
    display: inline-block;

}

.list-inline li {
    display: inline-block;

}

footer a {
    font-weight: 300;
    text-decoration: none;
    color: var(--boo-font-light);
}

header li>a {
    text-decoration: none;
    font-weight: 700;
    color: var(--boo-font-light);
    padding-right: 1rem;
}

li>a:hover {
    text-decoration: underline;
}

.img-fluid {
    max-width: 100%;

}

.square {
    position: absolute;
    top: 14px;
    right: 0;
    width: 30px;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
}

.col-3:hover>.img1 {
    display: none;
}

.img2 {
    display: none;
}

.col-3:hover>.img2 {
    display: inline;
}

.sale {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 40px;
    height: 25px;
    background-color: var(--boo-discount);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    color: var(--boo-font-light);
}

.sust {
    position: absolute;
    bottom: 80px;
    left: 45px;
    width: auto;
    height: 25px;
    background-color: var(--boo-sust);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    color: var(--boo-font-light);
    padding: 0 0.5rem;
}


.col-3:last-of-type .sust {
    left: 0
}

.foot-icons {
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;


}

/* #endregion Common */

/* #region Utilities */
:root {
    --boo-main: rgba(255, 105, 0, 1);
    --boo-discount: rgba(255, 0, 0, 1);
    --boo-sust: rgba(0, 128, 0, 1);
    --boo-font-light: rgba(231, 231, 230, 1);
    --boo-font-dark: rgba(0, 0, 0, 1);
    --boo-foot: rgba(26, 26, 26, 1);
}


.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.p-1 {
    padding: 1rem 0;
}

.py-1 {
    padding-top: 1rem;
}

.py-2 {
    padding-top: 2rem;
}

.py-3 {
    padding-top: 3rem;
}

.py-5 {
    padding-top: 5rem;
}

.gap {
    gap: 0.5rem;
}

.gap-big{
    gap:2rem
}

.row {
    display: flex;
}

.col-3 {
    width: calc(100% /12 * 3);
    position: relative;
}

.col-2 {
    width: auto
}

.center {
    justify-content: space-between;
}



/* #endregion Utilities */

/* #region Debug */


/* #endregion Debug */

/* #region Header */
header {
    background-color: var(--boo-main);
    box-shadow: 1px 2px 6px grey;
}

.logo,
.menu,
.icons {
    display: flex;
    align-items: center;
    width: 33%;
    color: var(--boo-font-light);
}

.icons {
    justify-content: end;
}

.logo {
    justify-content: center;
}


/* #endregion Header */

/* #region Body */
.brand {
    font-size: 12px;
    margin-top: 1px;
}

.model,
.price {
    font-weight: 700;
}

.price {
    color: var(--boo-discount);
    font-size: 14px;
}

.price span {
    color: black;
    text-decoration: line-through;
    margin-left: 0.3rem;
    font-weight: 500;
}

/* #endregion Body */

/* #region Footer */
footer {
    background-color: var(--boo-foot);
    margin-top: 5rem;
    padding: 2.5rem 0;
    color: var(--boo-font-light);

}

/* #endregion Footer */